section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  .number{
    display: flex;
     justify-content: center;
    border: 2px solid maroon;
    box-sizing:border-box;
    height: 90px;
  
  }
  .loader{
    display:flex;
    justify-content: center;
    align-items:center;
    position: absolute;
    top: 50%;
    left: 45%;
  }