<p>Support Ticket</p>
  <div class="loader">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <section>
    <div class="example-button-row">
      <button style="margin-left: 700px;" mat-button (click)="openDialog()"><i class="fa fa-plus"></i></button>
    </div>
  </section>
  <div >
    <form >
      <input type="text" class="form-control form-control-lg" #input (keyup)="onSearchChange($event)"
        placeholder="Filter" />
       
    </form>
  </div>

  <div class="mat-elevation-z8">
      <mat-table [dataSource]="dataSource" matSort >

      <ng-container matColumnDef="ticket_id">
        <mat-header-cell *matHeaderCellDef> ticket_id </mat-header-cell>
        <mat-cell *matCellDef="let ticket"> {{ticket.ticket_id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortList($event)" > created_at </mat-header-cell>
        <mat-cell *matCellDef="let ticket"> {{ticket.created_at | date:'dd-MM-yyyy HH:mm:ss'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
        <mat-cell *matCellDef="let ticket"> <button mat-button
            (click)="openDialogNotLogin(ticket.ticket_id)">{{ticket.title}}</button> </mat-cell>
      </ng-container>


      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> status </mat-header-cell>
        <mat-cell *matCellDef="let filteredStates"> {{ticket.status ? ticket.status:'-'}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [length]="totalRecords"  [pageSize]="pageSize" [pageSizeOptions]="pageOption"
      (page)="onPaginate($event)">
    </mat-paginator>

  </div>
