<p>login works!</p>
<form name="userDetail" [formGroup]="userDetail" (ngSubmit)="onSubmit(userDetail.value)">
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" formControlName="useremail"
        placeholder="Enter email">
      <div class="alert alert-danger" *ngIf="userDetail.get('useremail').hasError('required') && userDetail.get('useremail').touched ">
        Email Required
      </div>
      <div class="alert alert-danger" *ngIf="userDetail.get('useremail').hasError('pattern')">
        Email invalid
      </div>
    </div>
  
    <div class="form-group">
      <label>Password</label>
      <input type="text" class="form-control" formControlName="userpassword"
        placeholder="Enter password">
      <div class="alert alert-danger" *ngIf="userDetail.get('userpassword').hasError('required')&& userDetail.get('userpassword').touched ">
        Password Required
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-primary" [disabled]="!userDetail.valid">Login</button>
    </div> 
    <div class="alert alert-danger">
      {{showErrors}}
    
     </div>
</form>
