<div class="meeting-dialog__head" >
    <h4>{{ isEditMode ? 'Edit' : 'Create' }} Class</h4>
    <a (click)="onCloseDialog(false)" >
        <mat-icon matTooltip="Close" ></mat-icon>
    </a>
</div>
<form  [formGroup]="createClassUpdateClassForm" (ngSubmit)="onSubmitCreateClassUpdateClassForm(createClassUpdateClassForm)">
    <div mat-dialog-content style="width: 500px;align-items: center;">
        <mat-grid-list cols="2" rowHeight="200px">
            <mat-grid-tile>
                <div class="controles-container">
                    <mat-form-field>
                        <input matInput placeholder="Enter Class Name"  formControlName="name" />
                    </mat-form-field>
                    <mat-form-field *ngFor="let aliasGrade of gradeList"> 
                        <mat-label>{{isEditMode ? aliasGrade.grade.alias:"Choose Option"}}</mat-label>
                        <select matNativeControl formControlName="grade"  required>
                            <option  [(value)]="aliasGrade.grade_id">
                                {{aliasGrade.grade.alias}}
                            </option>
                        </select>
                    </mat-form-field>
                </div>
                <div class="controles-container">
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <!-- </mat-dialog-content> -->
    <div class="button-row">
        <mat-dialog-actions >
            <button mat-raised-button color="accent" mat-button mat-dialog-close>Cancel</button>
            <button mat-flat-button color="primary" type="submit" id="btnAdd" [disabled]="!createClassUpdateClassForm.valid">
                {{isEditMode ? "Update" : "Add" }}
              </button>
        </mat-dialog-actions>
    </div>
</form>