<p>Create Ticket</p>
<form name="addTicket" [formGroup]="addTicket" (ngSubmit)="dataSubmit()">
    <div mat-dialog-content>
        <mat-grid-list cols="2" rowHeight="200px">
            <mat-grid-tile>
                <div class="controles-container">
                    <mat-form-field>
                        <input matInput placeholder="Title" formControlName="title" />
                        <mat-error class="invalid-feedback" *ngIf="addTicket.get('title').hasError('required')">
                            Ticket Title is Required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Choose an option</mat-label>
                        <select matNativeControl formControlName="sto" (change)="selectChange($event)" required>
                            <option *ngFor="let item of dataCategory" [(value)]="item.id">
                                {{item.name}}
                            </option>
                        </select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Choose an option</mat-label>
                        <select matNativeControl formControlName="trading" (change)="selectChangeAssetsTrading($event)"
                            required>
                            <option *ngFor="let item of assetStrading" [(value)]="item.id">
                                {{item.name}}
                            </option>
                        </select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Select Severity</mat-label>
                        <select matNativeControl formControlName="sevirity" (change)="selectChangeSeverity($event)"
                            required>
                            <option *ngFor="let item of severity" [(value)]="item.id">
                                {{item.id}}
                            </option>
                        </select>
                    </mat-form-field>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="controles-container">
                    <mat-form-field appearance="fill">
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="area"></textarea>
                        <mat-error class="invalid-feedback" *ngIf="addTicket.get('area').hasError('required')">
                            Description is Required
                        </mat-error>
                    </mat-form-field>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <!-- </mat-dialog-content> -->
    <div class="button-row">
        <mat-dialog-actions align="start">
            <button mat-raised-button color="accent" mat-button mat-dialog-close>Cancel</button>
            <button type="submit" mat-raised-button color="primary" [disabled]="!addTicket.valid" mat-button
                mat-dialog-close mat-button >Submit</button>
        </mat-dialog-actions>
    </div>
</form>