<h1 style="font-style: oblique;" mat-dialog-title>Ticket Detail</h1>
<table class="table">
    <label>Sr.No : -</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ticketId}}<br>
    <label>title : -</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{title}}<br>
    <label>ticket_type : -</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ticketType}}<br>
    <label>severity : -</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{severity}}<br>
    <label>status : -</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{status}}<br>
    <label>remarks :- </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{remarks}}<br>
</table>