<nav class="navbar navbar-expand-sm  navbar-light bg-light"> 
  <a class="navbar-brand" routerLink="">EduSense</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a id="linkId" class="nav-item nav-link" routerLink="/supportticket">SupportTicket</a>
      <a class="nav-item nav-link" routerLink="/login">Login</a>
      <a class="nav-item nav-link"  routerLink="/class">Class</a>          
    </div>
  </div>
</nav>
<div class="container">
<!-- <router-outlet></router-outlet> -->
</div>
  <router-outlet></router-outlet>
