
<button mat-icon-button>
    <mat-icon (click)="backToClassList()">arrow_back_ios</mat-icon>Class Detail
</button>
<div>
    <label>ClassName:{{classParentDetail?.class_name}}</label><br>
    <label>Grade:{{classParentDetail?.grade_master.alias}}</label>
</div>