
<div class="loader">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>
<section>
  <div class="example-button-row">
    <button type="button" style="margin-left: 1200px;"  mat-raised-button color="primary" mat-button mat-button
      (click)="openDialog()">Create Class</button>
  </div>
</section>
<div>
  <input type="text" class="form-control form-control-lg" [formControl]="nameFilterField" placeholder="Filter" #input
     />

</div>

<div class="mat-elevation-z8">
  <mat-table [dataSource]="classData" matSort>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>name </mat-header-cell>
      <mat-cell *matCellDef="let classData"> {{classData.class_name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="grade">
      <mat-header-cell *matHeaderCellDef>grade </mat-header-cell>
      <!-- <mat-cell *matCellDef="let classData"> {{classData.grade_id ? "11 commerce":'-'}} </mat-cell> -->
      <mat-cell *matCellDef="let classData"> {{classData.grade_master.alias}}  </mat-cell>
    </ng-container>

    <ng-container matColumnDef="...">
      <mat-header-cell *matHeaderCellDef>
        
      </mat-header-cell>
      <mat-cell *matCellDef="let classData"> <section>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_horizontal</mat-icon>
          <mat-menu #menu="matMenu">
            <button mat-menu-item  (click)="openDialog(classData.parent_class_id)">Edit</button>
            <button mat-menu-item (click)="openClassDetail(classData.parent_class_id)">View</button>
          </mat-menu>
        </button>
      </section> </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <mat-paginator [length]="totalElements" 
                 
                 [pageSizeOptions]="[5,10]" 
                 (page)="onPaginate($event)">
  </mat-paginator>
 
 
</div>